body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #333;
}

header {
  background-color: rgba(156, 155, 155, 0.8);
  color: #fff;
  padding: 1rem;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

#menu li {
  margin: 0 1rem;
}

#menu a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

#lead {
  background: url("../images/lead-bg.jpg") no-repeat center center/cover;
  color: #fff;
  text-align: center;
  padding: 5rem 0;
}

#lead h1 {
  font-size: 3rem;
  margin: 0;
}

#lead h2 {
  font-size: 2rem;
  margin: 0;
}

/* Ancho uniforme para todos los bloques */
.content-block {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

/* Ajustes específicos para cada sección */
#about,
#background,
#experience,
#education,
#projects,
#skills,
#contact,
#contact-section {
  padding: 2rem;
  margin: 2rem auto;
  max-width: 800px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.heading {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.profile-img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 1rem;
}


.education-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}

.education-content {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.education-block {
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.education-date {
  display: block;
  margin-bottom: 1rem;
  font-style: italic;
}

.education-block,
.projects-block {
  margin-bottom: 2rem;
}

#projects a {
  color: rgb(112, 181, 238); /* Links de proyectos en color azul */
}

#contact-form {
  max-width: 600px;
  margin: 0 auto;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

#contact-form button {
  background: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

footer {
  background: #333;
  color: #fff;
  padding: 1rem 0;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .right-content {
  text-align: center;
  flex: 1;
}

.theme-switcher {
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.theme-switcher-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  margin-right: 1rem; /* Ajuste del margen del icono del tema */
}

.theme-icon {
  font-size: 24px;
  color: #fff !important; /* Asegurarse de que el icono siempre sea blanco */
}

/* Estilos para tema dark */
body.theme-dark {
  background: #333;
  color: #fff;
}

body.theme-dark header {
  background: #222;
}

body.theme-dark #menu a {
  color: #fff;
}

body.theme-dark #lead {
  background-color: rgba(0, 0, 0, 0.8);
}

body.theme-dark footer {
  background: #222;
  color: #fff;
}

body.theme-dark .theme-icon {
  color: #fff;
}

body.theme-dark section,
body.theme-dark #about,
body.theme-dark #background,
body.theme-dark #experience,
body.theme-dark #education,
body.theme-dark #projects,
body.theme-dark #skills,
body.theme-dark #contact,
body.theme-dark #contact-section {
  background: #444;
  color: #fff;
}

body.theme-dark #contact-form input,
body.theme-dark #contact-form textarea {
  background: #555;
  color: #fff;
  border: 1px solid #666;
}

body.theme-dark #contact-form button {
  background: #666;
  color: #fff;
}

#about {
  text-align: center;
}

.headingAb {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  text-align: left;
}

.profile-image {
  flex: 1;
}

.profile-img {
  width: 100%;
  border-radius: 0%;
}

.text-content {
  flex: 2;
  max-width: 600px;
}

/* Estilos para la sección de habilidades */
#skills {
  padding: 2rem;
  margin: 2rem auto;
  max-width: 800px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

svg {
  max-width: 100%;
  height: auto;
}

.axisLabel {
  display: none;
}

/* Ajustes específicos para el bloque de contacto */
#contact-section {
  padding: 2rem;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  max-width: 800px;
  margin: 2rem auto;
}

#contact-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
#contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-section input,
#contact-section textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#contact-section button {
  background: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.contact-info a {
  color: rgb(112, 181, 238); 
}
